.wrapperBackground{
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: $primary-bg-color;
}
.formBuy{
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  grid-template-areas: 
  "name1 card"
  "massage massage"
  "button button";
  justify-content: center;
  justify-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 50px;
}
.wrapperBuyCard {
  display: grid;
  position: absolute;
  height: 80%;
  background-color: $buyForm-bg-color;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 50px;
}
.areaName{
  display: grid;
  grid-area: name1;
  justify-items: center;

}
.form-conrol{
  display: grid;
  width: 100%;
  justify-self: center;
}
.input{
  background-color: $light-gray;
  text-align: center;
  border-radius: 8px;
  height: 20px;
}
input[data-rule]{
  display: flex;
  justify-self: center;
  margin-bottom: 20px;
}
 
h3{
  font-size: 2em;
  text-align: center;
  margin: 0.67em 0;
  color: $light-gray;
}
.wrapperValidCard{
display: grid;
align-items: center;
}
.wrapperIconCard{
  justify-self: center;
}
.wrapperBankCard{
  display: grid;
  width: 350px;
  grid-area: card;
  background-color: $decorative-color;
  border-radius: 8px;
}
.bankCardNumIcon{
  display: grid;
  align-items: center;
}
label{
  justify-self: center;
  color: $light-gray;
}
.bankCardNumIcon{
  display: grid;
  justify-self: center;
  color: $light-gray;
}
.iconCard{
  display: none;
  width: 60px;
  font-size: 46px;
  color: $primary-text-color;
}
.activeCard{
  display: grid;
}
.wrapperInput{
  width: 100%;
  top: 0;
}
.spanSuccess{
  color: $succes-color;
  text-align: center;
  font-size: 1.2rem;
}
.error{
  display: grid;
  justify-self: center;
  justify-content: center;
  text-align: center;
}
.wrapperSpanSuccsess{
  display: grid;
  grid-area: massage;
  align-self: flex-start;
  align-content: center;
}
.btnvalidation{
  display: grid;
  grid-area: button;
  width: 100px;
  height: 25px;
  justify-content: center;
  align-content: center;
}
.btnvalidation:hover{
  background-color: rgb(200, 183, 161);
}

