.wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow:hidden;
}
.wrapperOneCard{
  display: grid;
  width: 80%;
  height: 450px;
  position: absolute;
  grid-template-rows: 30px 400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 2rem;
}
.wrapperUl{
  display: grid;
  height: 30px;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  background-color: $buyForm-bg-color;
  border-radius: 8px;
  color: $accent-text-color;
  border: 2px solid rgb(57, 49, 49);
}
.a{
  text-decoration: none;
  color: $accent-text-color;
}
.cardOne{
  display: grid;
  grid-template-rows: 45px 425px;
  grid-template-areas: 
  "title"
  "details";
  background-color: $buyForm-bg-color;
  border-radius: 8px;
  margin-top: 10px;
  border: 2px solid rgb(57, 49, 49);
}
.cardOneTitle{
  display: grid;
  height: 45px;
  width: 100%;
  grid-area: title;
  font-size: 1.3rem;
  justify-self: center;
  align-self: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
  border: 2px solid rgb(57, 49, 49);
  border-radius: 8px 8px 0 0;
}
.cardOneDetails{
  display: grid;
  grid-area: details;
  height: 425px;
  grid-template-columns: 15% 30% 35% 20%;
  gap: 5px;
  grid-template-areas: 
  "fotoAll foto1 description price";
  color: $accent-text-color;
  overflow: hidden;
}
.allFoto{
  display: grid;
  grid-area: fotoAll;
  width: 100%;
  max-height: 300px;
  grid-template-rows: repeat(4, 50px);
  margin-top: 10px;
  margin-left: 10px;
  gap: 10px;
  justify-self: center;
  justify-items: start;
  justify-content: center;
  overflow: hidden;
}
.fotoAllProducts{
  display: grid;
  width: 60%;
  gap: 15px;
  overflow: hidden;
}
.oneFoto{
  display: grid;
  grid-area: foto1;
  width: 80%;
  max-height: 250px;
  justify-self: center;
  justify-items: center;
  margin-top: 17%;
  overflow: hidden;
}
.fotoOneproduct{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 1px solid black;
  width: 90%;
  overflow: hidden;
}
.allDetails{
  display: grid;
  grid-area: description;
  grid-template-rows: repeat(6, 1fr);
  font-size: 1rem;
  margin-top: 10px;
}
.titleLi{
 background-color: rgb(63, 61, 61);
 text-align: center;
 border-radius: 8px 8px 0 0;
 color: burlywood;
}
.liDescription{
  text-align: center;
  border: 1px solid rgb(57, 49, 49);
  border-radius: 8px 8px 0 0;
  margin-top: 3px;
}
.priceAndButton{
  display: grid;
  grid-area: price;
  grid-template-rows: 100px 80px 80px;
  justify-items: center;
}
.priceOneCard{
  display: grid;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  color: #e6d5d5;
}
.buttonOneCard{
  display: grid;
  width: 100px;
  height: 35px;
  align-content: center;
  background: linear-gradient(#635353, #573a3a);
  color: burlywood;}
.buttonOneCard a{
  color: burlywood;
}