$primary-text-color: #212121;
$secondary-text-color: #9b9faa;
$accent-text-color: #ffffff;
$light-gray: #e0e0e0;

$hover-color: #fc842d;

$primary-bg-color: rgb(243, 239, 234);
$secondary-bg-color: #ffffff;

$shadow-inner: rgba(59, 3, 3, 0.212) 0px 2px 4px 0px inset;
$shadow-outer: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$shadow-hover: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$decorative-color: #264061;
